.searchResultsImg{
    width:15%;
    margin-bottom:2%;
}

.card-img-top {
    
    
}

#productImage {
    width: 300px;
    height: 300px;
}

#productBorder{
    border: thin 1px #808080;
    
}

.errorMessage{
    color: red;
    font-weight:900;
    text-align:center;
    font-size: 1vw;
}

#btnUpdate{
    margin-right:1%;
}
